h1 {
    font-family: luxus-brut, cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    justify-content: center;
}

@font-face {
    font-family: hellohoney;
    src: url(../otf/hellohoney.otf) format("opentype");
}

@font-face {
    font-family: avocadocreamy;
    src: url(../otf/AvocadoCreamy.otf) format("opentype");
}

#top {
    height: 100%;
    width: 100%;
    display: flex;
}

#grid {
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

#leag {
    background-image: url(../img/leag.png);

    background-repeat: no-repeat;
    background-position: left center;
    height: 100%;
    margin: 0;
    padding: 0;
}


.date {
    font-family: montserrat, sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: white;
    font-size: 2.5vw;
    letter-spacing: 1.5vw;
    padding-bottom: 5vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timer {
    font-family: montserrat, sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: white;
    font-size: 2.5vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer {
    font-family: montserrat, sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: white;
    font-size: 2vw;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;

}

html {
    height: 100%;
    width: 100%;

}

.title {
    font-family: luxus-brut, cursive;
    font-size: 8vw;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background: linear-gradient(89.97deg, rgb(238, 72, 100) 1.84%, #5659e7 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

@media screen and  (max-width: 1050px) {
    h1 {
        background-color: brown;
    }

    body {
        background-position: 45% 55%;
    }
}

.Statement {
    font-family: montserrat, sans-serif;
    color: #6A1600;
    font-size: 2vw;
    opacity: 1;
}

.Response {
    font-family: montserrat, sans-serif;
    color: white;
    font-size: 2vw;
    opacity: 1;
}

.Details {
    font-family: josefin-slab, serif;
    font-weight: 400;
    font-style: normal;
    color: #76A9C8;
    font-size: 40px;
}

.Dress {
    font-family: luxus-brut, cursive;
    font-weight: 200;
    font-style: normal;
    color: #4E82A2;
    font-size: 60px;
    line-height: 60px;
}

.message {
    text-align: center;
    color: #CA8FCA;
    font-size: 50px;
    font-family: avocadocreamy;
}