<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arwin&Jessica</title>
</head>
<body>
    <h1>Please RSVP by filling out the form below</h1>
    <a href="/">Home</a><br>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="email">Email Address:</label><br>
        <input type="email" id="email" name="email"><br>
        <input type="submit">
    </form>
</body>
</html>